# Gemini API Key
GEMINI_API_KEY=AIzaSyCNxkebvSrksDBoTr4nQihLKZKOuXy6IMM

# Binance API Credentials (Required for Auto-Trading Bot)
BINANCE_API_KEY=VFAHnl7Q1mUHk4QKok6lrpFI0QEK968YczlUxTRrt6IaQYsC0I8cgwyQ380nTnCO
BINANCE_SECRET=ZBodyFSujxHWGaXTKTuqIvoh9uqOqqbYq9etldXfyDsKXJ1fS8KW8zOCrgScrFoG

# OAuth (Optional for demo)
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
